{% extends 'admin/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h4>{{ title }}</h4>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="row gy-3">
        <div class="col-md-4">{{ form.flight_number.label(class_='form-label') }}{{ form.flight_number(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.airline_id.label(class_='form-label') }}{{ form.airline_id(class_='form-select') }}</div>
        <div class="col-md-4">{{ form.departure_city.label(class_='form-label') }}{{ form.departure_city(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.destination_city.label(class_='form-label') }}{{ form.destination_city(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.departure_time.label(class_='form-label') }}{{ form.departure_time(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.arrival_time.label(class_='form-label') }}{{ form.arrival_time(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.status.label(class_='form-label') }}{{ form.status(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.gate.label(class_='form-label') }}{{ form.gate(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.duration.label(class_='form-label') }}{{ form.duration(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.price.label(class_='form-label') }}{{ form.price(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.available_seats.label(class_='form-label') }}{{ form.available_seats(class_='form-control') }}</div>
      </div>
      <div class="mt-4"><button class="btn btn-primary">Save Flight</button></div>
    </form>
  </div>
</div>
{% endblock %}
